<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">Alpha Post</h1>
      <p class="lead">This is simple AUTHOR POST application</p>
      <hr class="my-4">
      <p>Please sign up to create your own posts</p>
      <%= link_to "Sign up", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>
